/*estilização do HEADER da pagina*/
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: goldenrod;
    padding: 40px;
}
.spfc{
    width: 10%;
    padding: 10px 0 10px 5%;
}
nav{
    color: black;
    position: absolute;
    top: 10%;
    right: 8%;
    font-size: 30px;
    font-family: cursive;
}
nav li{
    display: inline;
    margin-right: 40px;
    font-weight: bold;
}
.divHeader{
    position: relative;
}
.banner {
    width: 40%;
    height: 30%;
    object-fit: cover;
    margin-left: 30%;
    object-position: center;
}

/*Estilização sobre nós*/
.sobre_nos{
    width: 70%;
    margin-left: 15%;
    text-align: justify;
    font: 20;
}

.img_sobre_nos{
    width: 18%;
    float: left;
}
.titulo_sobre_nos{
    clear: left;
    text-align: center;
    font-family: 'Times New Roman', Times, serif0
}
/*Estilização da sessão NOSSO ESTABELECIMENTO*/
.mapa{
    text-align: center;
    background: linear-gradient(#FFFFFF, goldenrod);
}
/*Nosso podutos*/
.produtos{
    background: linear-gradient(goldenrod, rgb(255, 0, 0));
    padding: 2%;
    text-align: center;
}
.div_nossosprodutos{
    width: 70%;
    margin-left: 30%;
}
.lista_nossosprodutos{
    width: 30%;
    display: inline-block;
    vertical-align: "top";
    list-style: none;
}
.lista_nossosprodutos li{
    line-height: 2;
}
.lista_nossosprodutos li:before{
    content: "★ ";
}
.img_nossosprodutos{
    width: 15%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px #000000;
    opacity: 1;
    transition: 400ms;
}
.img_nossosprodutos:hover{
    opacity: 0.5;
    cursor: pointer;
}
/*video*/
.video{
    text-align: center;
    background: linear-gradient( rgb(255, 0, 0));
    position: relative;
    padding-top: 3%;
    padding-bottom: 30px;
}
/**FOOTER*/
footer{
    padding: 30px 10px 10px 0; 
    background: url("../img/SPFC\ rodapé.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
}

footer p{
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 20px; 
}
footer a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.logo_footer{
    width: 20%;
    padding-right: 85%;
}
    
